apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    argocd.argoproj.io/tracking-id: flask-app:apps/Deployment:default/flask-app
    deployment.kubernetes.io/revision: "30"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{"argocd.argoproj.io/tracking-id":"flask-app:apps/Deployment:default/flask-app"},"name":"flask-app","namespace":"default"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"flask"}},"template":{"metadata":{"labels":{"app":"flask"}},"spec":{"containers":[{"image":"anandprakashh/my-flask-app:3d3bb651b30699d45d9941169be471231d2e04be","name":"flask-app","ports":[{"containerPort":80}]}]}}}}
  creationTimestamp: "2025-10-27T16:06:13Z"
  generation: 30
  name: flask-app
  namespace: default
  resourceVersion: "127065"
  uid: 95d75d40-734a-47cd-bce2-55963cf00359
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: flask
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-12-09T17:57:24Z"
      labels:
        app: flask
    spec:
      containers:
      - env:
        - name: LOG_LEVEL
          value: ERROR
        image: anandprakashh/my-flask-app:3d3bb651b30699d45d9941169be471231d2e04be
        imagePullPolicy: IfNotPresent
        name: flask-app
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
