apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: default
  annotations:
    argocd.argoproj.io/tracking-id: flask-app:apps/Deployment:default/flask-app
spec:
  replicas: 2
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
  selector:
    matchLabels:
      app: flask
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
        - name: flask-app
          image: anandprakashh/my-flask-app:350200465e2a04c5d42b2a2929375cbc4c7c55fa
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
