extraVolumes:
  - name: kibana-encryption
    secret:
      secretName: kibana-encryption-key

extraVolumeMounts:
  - name: kibana-encryption
    mountPath: /run/secrets/kibana
    readOnly: true

# Init container to patch kibana.yml on startup
initContainers:
  - name: kibana-encryption-init
    image: busybox
    command:
      - sh
      - -c
      - |
        cp /usr/share/kibana/config/kibana.yml /usr/share/kibana/config/kibana.yml.bak
        echo "xpack.encryptedSavedObjects.encryptionKey: $(cat /run/secrets/kibana/encryptionkey)" >> /usr/share/kibana/config/kibana.yml
    volumeMounts:
      - name: kibana-config
        mountPath: /usr/share/kibana/config
      - name: kibana-encryption
        mountPath: /run/secrets/kibana

# Standard config (will be patched by init container)
kibanaConfig:
  kibana.yml: |
    server.name: kibana
    # Any other custom config...
